<div>
	<label>Operating System: {{info.OperatingSystem}}</label>
  <label>NCPU: {{info.NCPU}}</label>
  <label>OSType: {{info.OSType}}</label>
  <label>KernelVersion: {{info.KernelVersion}}</label>
  <label>ServerVersion: {{info.ServerVersion}}</label>
</div>
