<div>
	<h4 *ngIf="container.Id">{{container.Id}}</h4>
	<div *ngIf="container.Config">
		<h5>Config: </h5>
		<label>AttachStderr: {{container.Config.AttachStderr}}</label>
		<label>AttachStdin: {{container.Config.AttachStdin}}</label>
		<label>AttachStdout: {{container.Config.AttachStdout}}</label>
		<label>Cmd: {{container.Config.Cmd}}</label>
		<label>Domainname: {{container.Config.Domainname}}</label>
		<label>Entrypoint: {{container.Config.Entrypoint}}</label>
		<label>Env: {{container.Config.Env}}</label>
		<label>ExposedPorts: {{container.Config.ExposedPorts}}</label>
		<label>Hostname: {{container.Config.Hostname}}</label>
		<label>Image: {{container.Config.Image}}</label>
		<label>MacAddress: {{container.Config.MacAddress}}</label>
		<label>NetworkDisabled: {{container.Config.NetworkDisabled}}</label>
		<label>OnBuild: {{container.Config.OnBuild}}</label>
		<label>OpenStdin: {{container.Config.OpenStdin}}</label>
		<label>Tty: {{container.Config.Tty}}</label>
		<label>User: {{container.Config.User}}</label>
		<label>WorkingDir: {{container.Config.WorkingDir}}</label>
		<label>StopSignal: {{container.Config.StopSignal}}</label>
		<label>Created: {{container.Created}}</label>
		<label>Driver: {{container.Driver}}</label>
		<label>ExecIDs: {{container.ExecIDs}}</label>
		<h6>Volumes: </h6>
		<label>Volumes: {{container.Config.Volumes | json}}</label>
		<h6>Labels: </h6>
		<label>{{container.Config.Labels | json}}</label>
		<h5>HostConfig: </h5>
		<label>Binds: {{container.HostConfig.Binds}}</label>
		<label>IOMaximumBandwidth: {{container.HostConfig.IOMaximumBandwidth}}</label>
		<label>IOMaximumIOps: {{container.HostConfig.IOMaximumIOps}}</label>
		<label>BlkioWeight: {{container.HostConfig.BlkioWeight}}</label>
		<label>BlkioWeightDevice: {{container.HostConfig.BlkioWeightDevice | json}}</label>
		<label>BlkioDeviceReadBps: {{container.HostConfig.BlkioDeviceReadBps | json}}</label>
		<label>BlkioDeviceWriteBps: {{container.HostConfig.BlkioDeviceWriteBps | json}}</label>
		<label>BlkioDeviceReadIOps: {{container.HostConfig.BlkioDeviceReadIOps| json}}</label>
		<label>BlkioDeviceWriteIOps: {{container.HostConfig.BlkioDeviceWriteIOps| json}}</label>
		<label>CapAdd: {{container.HostConfig.CapAdd}}</label>
		<label>CapDrop: {{container.HostConfig.CapDrop}}</label>
		<label>ContainerIDFile: {{container.HostConfig.ContainerIDFile}}</label>
		<label>CpusetCpus: {{container.HostConfig.CpusetCpus}}</label>
		<label>CpusetMems: {{container.HostConfig.CpusetMems}}</label>
		<label>CpuPercent: {{container.HostConfig.CpuPercent}}</label>
		<label>CpuShares: {{container.HostConfig.CpuShares}}</label>
		<label>CpuPeriod: {{container.HostConfig.CpuPeriod}}</label>
		<label>Devices: {{container.HostConfig.Devices | json}}</label>
		<label>Dns: {{container.HostConfig.Dns}}</label>
		<label>DnsOptions: {{container.HostConfig.DnsOptions | json}}</label>
		<label>DnsSearch: {{container.HostConfig.DnsSearch}}</label>
		<label>ExtraHosts: {{container.HostConfig.ExtraHosts}}</label>
		<label>IpcMode: {{container.HostConfig.IpcMode}}</label>
		<label>Links: {{container.HostConfig.Links}}</label>
		<label>LxcConf: {{container.HostConfig.LxcConf | json}}</label>
		<label>Memory: {{container.HostConfig.Memory}}</label>
		<label>MemorySwap: {{container.HostConfig.MemorySwap}}</label>
		<label>MemoryReservation: {{container.HostConfig.MemoryReservation}}</label>
		<label>KernelMemory: {{container.HostConfig.KernelMemory}}</label>
		<label>OomKillDisable: {{container.HostConfig.OomKillDisable}}</label>
		<label>OomScoreAdj: {{container.HostConfig.OomScoreAdj}}</label>
		<label>NetworkMode: {{container.HostConfig.NetworkMode}}</label>
		<label>PidMode: {{container.HostConfig.PidMode}}</label>
		<label>PortBindings: {{container.HostConfig.PortBindings | json}}</label>
		<label>Privileged: {{container.HostConfig.Privileged}}</label>
		<label>ReadonlyRootfs: {{container.HostConfig.ReadonlyRootfs}}</label>
		<label>PublishAllPorts: {{container.HostConfig.PublishAllPorts}}</label>
		<label>PidMode: {{container.HostConfig.PidMode}}</label>
		<h5>State: </h5>
		<label>Error: {{container.State.Error}}</label>
		<label>ExitCode: {{container.State.ExitCode}}</label>
		<label>FinishedAt: {{container.State.FinishedAt}}</label>
		<label>OOMKilled: {{container.State.OOMKilled}}</label>
		<label>Dead: {{container.State.Dead}}</label>
		<label>Paused: {{container.State.Paused}}</label>
		<label>Pid: {{container.State.Pid}}</label>
		<label>Restarting: {{container.State.Restarting}}</label>
		<label>Running: {{container.State.Running}}</label>
		<label>StartedAt: {{container.State.StartedAt}}</label>
		<label>Status: {{container.State.Status}}</label>
	</div>
</div>