<mat-card class="box">
  <mat-card-title-group>
    <mat-card-title>{{image.Id}}</mat-card-title>
  </mat-card-title-group>
  <!-- <mat-divider></mat-divider> -->
  <mat-card-content>

  	<mat-chip-list *ngFor="let tag of RepoTags">
			<mat-chip>{{tag}}</mat-chip>
		</mat-chip-list>

		<div class="labels" *ngFor="let label of Labels | keyvalue">
			<p>{{label.key}}: {{label.value}}</p>
		</div>

  	<p>Created: {{image.Created}}</p>
  	<p>Size: {{image.Size}}</p>
  </mat-card-content>
  <mat-card-actions>
  </mat-card-actions>
</mat-card>