.mat-card {
	margin: 20px 0 0 20px;
	min-height: 250px;
	width: 250px;

	display: flex;
  flex-direction: column;
}

.mat-card-actions {
	margin-top: auto;
}

.running {
	color: green;
}

.exited {
	color: grey;
}

