<mat-card class="box">
  <mat-card-title-group>
    <mat-card-title>{{container.Id}}</mat-card-title>
    <mat-card-subtitle>{{container.Image}}</mat-card-subtitle>
  </mat-card-title-group>
  <!-- <mat-divider></mat-divider> -->
  <mat-card-content>
  	<p>{{container.Created}}</p>
  	<p>{{container.Command}}</p>
  	<p>{{container.Names}}</p>
  	<ng-template [ngIf]="running" [ngIfElse]="exited">
  		<mat-icon aria-hidden="false" class="running" aria-label="running icon">lens</mat-icon>
		</ng-template>
		<ng-template #exited>
			<mat-icon aria-hidden="false" class="exited" aria-label="exited icon">lens</mat-icon>
		</ng-template>
  </mat-card-content>
  <mat-card-actions>
  	<button mat-icon-button (click)="start()"><mat-icon aria-hidden="false" aria-label="play_arrow icon">play_arrow</mat-icon></button>
  	<button mat-icon-button (click)="stop()"><mat-icon aria-hidden="false" aria-label="stop icon">stop</mat-icon></button>
  	<button mat-icon-button (click)="delete()"><mat-icon aria-hidden="false" aria-label="delete icon">delete</mat-icon></button>
  	<button mat-icon-button (click)="view()"><mat-icon aria-hidden="false" aria-label="inspect icon">remove_red_eye</mat-icon></button>
  </mat-card-actions>
</mat-card>
