html, body { margin:0; height: 100%; }

.all-wrap {
  min-height: 100vh; // same height as browser window height
}
 
.page-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh; // same height as browser window height
}
 
.content {
  flex: 1; // child will set to an equal size inside the container
}
 
 
/*
 * Make the component injected by <router-outlet> full height:
 */
 
main {
  margin: 20px;
  display: flex;
  flex-direction: column;
 
  // Select all direct descendants only of the <main> element
  // that are not <router-outlet> elements:
  > *:not(router-outlet) {
 
    flex: 1; // child will set to an equal size inside the container
    display: block;
 
  }
 
}