<h1>Create Container Form</h1>
<form #containerForm="ngForm" (ngSubmit)="onSubmit()">
  <h4>Select Image</h4>
	<mat-form-field>
	  <mat-label>Image</mat-label>
	  <mat-select placeholder="Image" required [(ngModel)]="model.Image" name="image">
	    <mat-option *ngFor="let i of images" [value]="i">
	      {{i}}
	    </mat-option>
	  </mat-select>
	</mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Hostname" type="text" [(ngModel)]="model.Hostname" name="Hostname">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="User" type="text" [(ngModel)]="model.User" name="User">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Memory" type="number" [(ngModel)]="model.Memory" name="Memory">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="MemorySwap" type="number" [(ngModel)]="model.MemorySwap" name="MemorySwap">
  </mat-form-field>

  <mat-checkbox [(ngModel)]="model.AttachStdin" name="AttachStdin">
	  AttachStdin
	</mat-checkbox>

	<mat-checkbox [(ngModel)]="model.AttachStdout" name="AttachStdout">
	  AttachStdout
	</mat-checkbox>

  <mat-checkbox [(ngModel)]="model.AttachStderr" name="AttachStderr">
	  AttachStderr
	</mat-checkbox>

	<mat-checkbox [(ngModel)]="model.StdinOnce" name="StdinOnce">
	  StdinOnce
	</mat-checkbox>

	<mat-checkbox [(ngModel)]="model.OpenStdin" name="OpenStdin">
	  OpenStdin
	</mat-checkbox>

	<mat-checkbox [(ngModel)]="model.Privileged" name="Privileged">
	  Privileged
	</mat-checkbox>

  <mat-checkbox [(ngModel)]="model.Tty" name="Tty">
	  Tty
	</mat-checkbox>

  <button mat-raised-button type="submit" [disabled]="!containerForm.form.valid">Submit</button>
</form>
