<div fxLayout="row wrap" fxLayoutAlign="flex-start">
	<mat-slide-toggle (click)="toggleActive()">Show only running</mat-slide-toggle>
	<div *ngFor="let container of containers">
		<app-container-detail [container]="container" (refetch)="refetch($event)"></app-container-detail>
	</div>
</div>

<a mat-fab [routerLink]="'/containers/create'"><mat-icon aria-hidden="false" aria-label="create icon">add</mat-icon></a>